@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
/* reset */
body,
p {
  margin: 0;
}
button {
  border: 0;
  outline: 0;
}
* {
  box-sizing: border-box;
}
/* general */
body {
  font-family: 'Montserrat';
}
/* app */
#root {
  background: #fff;
}
.header {
  color: #6fccd3;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.header .inner {
  width: 1200px;
  margin: auto;
  position: relative;
  line-height: 80px;
}
.header .client {
  width: 160px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.header .newrelic {
  width: 150px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.content {
  padding: 16px;
  width: 1200px;
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  color: #9b9b9b;
  width: 340px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
  border-radius: 16px;
  border: 1px solid #c4c4c4;
  overflow: hidden;
  margin: 16px;
}
.box-bar {
  height: 16px;
}
.box.DOWN .box-bar {
  background: #ff1400;
  box-shadow: 0px 2px 3px rgba(255,0,0,0.4), inset 0px 2px 4px rgba(0,0,0,0.25), inset 0px -4px 10px rgba(255,255,255,0.3);
}
.box.DOWN .msg span {
  color: #ff1400;
}
.box.WARNING .box-bar {
  background: #fbbc05;
  box-shadow: 0px 2px 3px rgba(251,188,5,0.2), inset 0px 2px 4px rgba(0,0,0,0.25), inset 0px -4px 10px rgba(255,255,255,0.3);
}
.box.WARNING .msg span {
  color: #fbbc05;
}
.box.ONLINE .box-bar {
  background: #34a853;
  box-shadow: 0px 2px 5px rgba(52,168,83,0.2), inset 0px 2px 4px rgba(0,0,0,0.25), inset 0px -4px 10px rgba(255,255,255,0.3);
}
.box.ONLINE .msg span {
  color: #34a853;
}
.box-header {
  display: flex;
  align-items: center;
  padding: 8px 16px 4px 16px;
}
.box-header img {
  width: 30px;
  margin-right: 8px;
}
.box-header p {
  font-size: 14px;
}
.box-header span {
  font-size: 10px;
}
.box-content {
  display: flex;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px 8px 16px;
}
.box-content .msg {
  border: solid 1px #c4c4c4;
  box-shadow: 0px 1.5px 4px rgba(0,0,0,0.16);
  padding: 8px 16px;
  border-radius: 4px;
}
.box-footer {
  border-top: 1px solid rgba(155,155,155,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px 8px 16px;
}
.box-footer-bar {
  width: 200px;
}
.box-footer-bar .bar {
  height: 8px;
  background: #cecece;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.161);
}
.box-footer-bar .bar span {
  display: block;
  width: 40%;
  background: #6fccd3;
  height: 8px;
  border-radius: 4px;
}
.box-footer-bar .text {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding-top: 4px;
  font-weight: 300;
}
.box-footer-bar .text span {
  color: rgba(0,140,153,0.5);
}
.box-footer-overpay p {
  font-weight: 600;
}
.box-footer-overpay p span {
  font-weight: 300;
  color: #ff2323;
}
.overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: none;
}
.overlay.visible {
  display: block;
}
.detail {
  background: #fff;
  max-width: 1000px;
  margin: 32px auto;
  border-radius: 16px;
  overflow: hidden;
}
.detail-bar {
  height: 16px;
}
.detail.DOWN .detail-bar {
  background: #ff1400;
  box-shadow: 0px 2px 3px rgba(255,0,0,0.4), inset 0px 2px 4px rgba(0,0,0,0.25), inset 0px -4px 10px rgba(255,255,255,0.3);
}
.detail.WARNING .detail-bar {
  background: #fbbc05;
  box-shadow: 0px 2px 3px rgba(251,188,5,0.2), inset 0px 2px 4px rgba(0,0,0,0.25), inset 0px -4px 10px rgba(255,255,255,0.3);
}
.detail.ONLINE .detail-bar {
  background: #34a853;
  box-shadow: 0px 2px 5px rgba(52,168,83,0.2), inset 0px 2px 4px rgba(0,0,0,0.25), inset 0px -4px 10px rgba(255,255,255,0.3);
}
.detail-header {
  display: flex;
  justify-content: space-between;
  margin: 8px 16px 0px 16px;
  border-bottom: 1px solid rgba(155,155,155,0.3);
  padding: 8px;
}
.detail-header .avatar {
  display: flex;
  align-items: center;
}
.detail-header .avatar img {
  width: 48px;
  margin-right: 8px;
}
.detail-header .avatar p {
  color: rgba(0,0,0,0.5);
  font-size: 18px;
  font-weight: 600;
}
.detail-header .avatar span {
  color: rgba(0,0,0,0.3);
  font-weight: 300;
  font-size: 14px;
}
.detail .row {
  display: flex;
}
.detail .row .column {
  padding: 16px 24px;
  flex: 1;
}
.detail .row .column:not(:first-child) {
  border-left: solid 1px #e1e1e1;
}
.detail .row .column .title {
  text-align: center;
  color: rgba(0,140,153,0.8);
  font-weight: bold;
}
.detail .row .column .subtitle {
  color: rgba(0,0,0,0.5);
  font-weight: bold;
}
.detail .row .column .subtitle span {
  font-weight: 300;
  color: #f10f00;
}
.detail .row .column .separator {
  border-bottom: solid 1px #e1e1e1;
  margin: 8px 0;
}
.detail .row .column .stat {
  display: flex;
  color: #9b9b9b;
  font-weight: 300;
  align-items: center;
  font-size: 12px;
  padding: 8px;
}
.detail .row .column .stat .msg {
  box-shadow: 0px 1.5px 4px rgba(0,0,0,0.16);
  border: solid 1px #c4c4c4;
  padding: 4px 16px;
  border-radius: 4px;
  flex: 1;
  margin: 0 32px;
}
.detail .row .column .table {
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  width: 100%;
}
.detail .row .column .table td {
  padding: 8px;
}
.detail .row .column .table span {
  font-weight: bold;
  color: #008c99;
}
.detail .row .column .table span.red {
  color: #ff1400;
}
.detail .row .column .table .center {
  text-align: center;
}
.detail .row .column .table .right {
  text-align: right;
}
.detail .row .column .table.line {
  box-shadow: 0px 4px 4px rgba(0,0,0,0.16);
  border: 1px solid rgba(155,155,155,0.3);
}
.detail .row .column .table.line span {
  font-weight: 600;
}
.detail .row .column .button {
  background: #008c99;
  border-radius: 8px;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 12px;
  padding: 8px 16px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.161);
}
.detail .row .column .button.center {
  display: table;
  margin: auto;
}
